VITE_SUPABASE_URL=https://orbttestvldufrzkjfkh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yYnR0ZXN0dmxkdWZyemtqZmtoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1NDAwODEsImV4cCI6MjA5MzExNjA4MX0.--Hu3BW9kMXmkbtzk8C5C5gBiE2jzP_2ZHQq-pNuNbk
